.nav-list a:hover, .nav-list a:focus {
    text-decoration: underline;
}

.nav-list a.current {
    text-decoration: underline;
}

.message-info {
    color: #000000;
    background-color: #9fd69f;
}

.message-warning {
    color: #000000;
    background-color: #ecba6f;
}

.message-danger {
    color: #000000;
    background-color: #e78383;
}
